<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MIS Project</title>

		<style type="text/css">
		* { 
			font-family: "標楷體"; }

		header { 
			font-size: 36px;
			color: #55ff55; }
		.col-lg-4 {
      		border: 1px solid; }
	
		h1 {text-align: center;}
		h2 {text-align: center;}

		img {
  			display: block;
  			margin-left: auto;
  			margin-right: auto;
  		}


		</style>
		
</head>
<body>
	

	<main class="container-fluid bg-primary text-white text-center">

		<h1>MIS Final Exam Project </h1>
		<h2>LINE Bot Crypto Currency</h2>
		<center><img src="/static/images/crypto.jpg" alt="照片"> </center>
		<h2>Bot ID : @340afcat</h2>

		<br><br><br>
        		
		<br><br><br><br><br><br><br><br><br>
		<?php
			echo "The time is " . date("h:i:sa");
		?>

		<footer>
			<center><Copyright © 2022. All Rights Reserved.></center>
		</footer>
	</main>

</body>
</html>